* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: "Comic Neue", italic;
  font-style: italic;
  font-size: 55px;
  margin-bottom: 0px;
}

.img-outer {
  overflow: hidden;
  max-width: 300px;
  max-height: 300px;
}

.img-inner {
  position: relative;
}

img {
  transition: 0.5s ease;
}

img:hover {
  transform: scale(1.2);
}

.home {
  margin-right: 10px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../images/design1_image1.jpg);
  background-size: cover;
  background-position-y: 20%;
  background-color: #0005;
  background-blend-mode: darken;
  width: 100%;
  height: 100vh;
  border-bottom: 0px;
}

.container3 {
  display: flex;
  flex-wrap: wrap;
}

.containers_img {
  width: 100%;
}

.navmain {
  color: #ffe15d;
  -webkit-text-stroke-color: #f49d1a;
  -webkit-text-stroke-width: 1px;
  text-decoration: none;
  font-family: "Passion One";
  font-size: 3em;
}

.container3 div {
  background-size: cover;
  background-color: #0005;
  background-blend-mode: darken;
  display: flex;
  height: 50vh;
  width: 50%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container_contact {
  background-image: url(../images/hockey_1.jpg);
}

.container_about {
  background-image: url(../images/hockey_2.jpg);
}

.container_rules {
  background-image: url(../images/design1_image2.jpg);
}

.container_game_info {
  background-image: url(../images/hockey_3.jpg);
}
.container2 {
  text-align: center;
  border: solid 2px;
}

dd {
  margin: 30px;
}

h2 {
  margin: 5px;
  font-family: "Comic Neue";
  -webkit-text-stroke: 1px;
}

nav div a {
  color: #ffe15d;
  -webkit-text-stroke-color: #f49d1a;
  -webkit-text-stroke-width: 0.1px;
  text-decoration: none;
}

nav div a h3 {
  font-family: "Passion One";
  font-size: 3em;
}

.index_text {
  margin-bottom: 50px;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 35px;
}

.logo {
  display: inline-block;
  vertical-align: top;
}

.article_home {
  display: inline-block;
  margin-left: 100px;
}

.article_about {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  padding-right: 150px;
  padding-left: 150px;
}

.article_contact p {
  margin: 50px;
}

p {
  font-family: "Comic Neue";
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
}

footer {
  min-height: 50px;
}

table {
  width: -webkit-fill-available;
  margin: 0% 10% 5% 10%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: #f49d1a;
  color: white;
}

thead th {
  background-color: #000000;
}
tbody th:hover {
  background-color: #ffe15d;
}
tbody td {
  position: relative;
}

h4 {
  text-decoration: underline;
}

.div_info {
  margin: 30px;
}

.div_info h2 {
  padding-bottom: 20px;
}

.div_info2 {
  margin: 50px;
}

.div_info2 h3 {
  padding: 20px 20px 20px 0px;
}

footer {
  background-color: #000000;
  text-align: center;
  font-family: monospace;
  color: white;
  padding-top: 1em;
}

ol li {
  list-style-type: disc;
  list-style-position: inside;
  padding: 10px 0 10px 20px;
  text-indent: -1em;
  font-family: "Comic Neue";
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
}

dd {
  font-family: "Comic Neue";
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
}

.registration {
}

form {
  display: flex;
}

fieldset {
  padding: 10px;
}

form h3 {
  margin: 15px;
}

label {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.registration2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.map {
  padding: 30px;
}

.submit {
  display: flex;
  justify-content: center;
}
