* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 40px;
  padding-right: 10em;
}

header nav {
  display: flex;
}

header nav a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  margin: 0px 20px 0px 20px;
}

header nav a:hover {
  color: #0d0d0d;
}

button {
  border-radius: 20px;
  border: none;
  background-color: #bf048d;
  padding: 10px;
}

.btn_nav {
  margin: 0px 20px 0px 20px;
}

.logo {
  width: 12em;
}

.home {
  color: white;
  font-size: 25px;
  width: 100%;
  padding: 10px;
  background-color: #999;
  display: flex;
  justify-content: center;
}

fieldset input {
  margin: 20px 10px 20px 30px;
}

.search {
  margin-left: 40em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card {
  width: 17em;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.card img {
  max-width: 100%;
}
.card .text {
  padding: 0 20px 20px;
}
.card .text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
}

footer {
  display: flex;
  background-color: #999;
}

footer div {
  padding: 10px;
}
footer a {
  padding: 10px;
}

footer a img {
  width: 2em;
}

footer div h2 {
  color: white;
  margin-left: 66rem;
}

.fieldset_contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.message{
  display: flex;
}

.textarea{
  margin-left: 15px;
}

.footer_contact{
  margin-top: 12em;
}

.container{
  width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

table{
  width: 80%;
}

h2{
  width: 80%;
  background-color: #ccc;
  font-size: 35px;
  margin-top: 25px;
}

td{
  border: 1px solid black;
  padding: 5px;
  height: 30px;
  width: 500px;
}

.tr_head{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
